NavWindowApp/NavWindowApp/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ShowAllEmployeesListDAL">
        <s:complexType />
      </s:element>
      <s:element name="ShowAllEmployeesListDALResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowAllEmployeesListDALResult" type="tns:ArrayOfEmployeeModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployeeModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmployeeModel" nillable="true" type="tns:EmployeeModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmployeeModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Search_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Post_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile_PhoneNo_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alt__Address_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt__Address_Start_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt__Address_End_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birth_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Social_Security_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Union_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Union_Membership_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manager_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Emplymt__Contract_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Statistics_Group_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Employment_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Inactive_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Cause_of_Inactivity_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Termination_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Grounds_for_Term__Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Global_Dimension_1_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resource_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Last_Date_Modified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pager" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_E_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salespers__Purch__Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="No__Series" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeesList">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesListResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ShowAllEmployeesListDALSoapIn">
    <wsdl:part name="parameters" element="tns:ShowAllEmployeesListDAL" />
  </wsdl:message>
  <wsdl:message name="ShowAllEmployeesListDALSoapOut">
    <wsdl:part name="parameters" element="tns:ShowAllEmployeesListDALResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesList" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesListResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetEmployees">
      <wsdl:input message="tns:GetEmployeesSoapIn" />
      <wsdl:output message="tns:GetEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllEmployeesListDAL">
      <wsdl:input message="tns:ShowAllEmployeesListDALSoapIn" />
      <wsdl:output message="tns:ShowAllEmployeesListDALSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesList">
      <wsdl:input message="tns:GetEmployeesListSoapIn" />
      <wsdl:output message="tns:GetEmployeesListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllEmployeesListDAL">
      <soap:operation soapAction="http://tempuri.org/ShowAllEmployeesListDAL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesList">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllEmployeesListDAL">
      <soap12:operation soapAction="http://tempuri.org/ShowAllEmployeesListDAL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesList">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:54620/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:54620/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>